<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<center>
    <p>
        <span style="float: right;">
            {% if session.user_role == "customer" %}
            <br>
            {{ session.username }} |
            <a href="/user/{{ session.user_id }}">Cart:</a> {{ session.cart_sum}} euros |
            <a href="/logout"> Log out</a><br>

            {% elif session.user_role == "admin" %}
            <br>
            Logged as admin: {{ session.username }} |
            <a href="/admin">To admin</a> |
            <a href="/logout"> Log out</a>

            {% else %}
            <a href="/login">Log in</a> |
            <a href="/register">Create account</a>
            {% endif %}
        </span>
    </p>
</center>
{% block content %}{% endblock %}