{% extends "layout.html" %}
{% block content %}
<center>
    <br>
    <br>
    <h3>Orders:</h3>
    <table>
        {% for order in order_list %}
        <tr>
            <td>{{ order.created_at.strftime("%d.%m.%Y klo %H:%M") }},</td>
            <td>total: {{ order.total_sum }}€</td>
            {% if order.order_state == 'created' %}
            <td>| Waiting</td>
            {% elif order.order_state == 'processed' %}
            <td>| Delivered</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <h3>Cart:</h3>
</center>
{% if items %}
<center>
    <p><a href="{{url_for('checkout', user_id=session.user_id)}}">Accept order</a></p>
</center>
{% endif %}
<center>
    <table>
        {% for item in items %}
        <tr>
            <td><b><a href="{{url_for('show_product', product_id=item.product_id)}}">{{ item.name }}</a></b></td>
            <td>| {{ item.price }}€/product,</td>
            <td>ammount: {{ item.quantity }},</td>
            <td>total: {{ item.sum }}€</td>
            <td>
                <form action="{{url_for('delete_cart_item')}}" method="POST">
                    <input type="hidden" name="cart_item_id" value="{{ item.id }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input id="delete_button" type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %}
